/**
 * Mother scss file.
**/
@import url("https://fonts.googleapis.com/css?family=Martel+Sans:400,700|Source+Sans+Pro:400,700");
/**
 * Global Variables
**/
/**
 * Fonts and sizes.
**/
.body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #1D1D1D; }

@-ms-viewport {
  width: device-width; }

h1, h2, h3, h4, h5 {
  font-family: "Martel Sans", sans-serif; }

p, span, figcaption {
  font-family: "Source+Sans+Pro", sans-serif;
  font-size: 1.2em;
  line-height: 1.5em; }

a {
  font-family: "Martel Sans", sans-serif;
  color: #1D1D1D;
  text-decoration: none; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px;
  margin: 0; }

img {
  width: 100%;
  height: auto;
  display: block; }

figcaption {
  margin: 5px 0;
  font-size: 1.1em; }

.hide {
  display: none; }

.show {
  display: block; }

/**
 * Random scss file.
**/
.hero--container, .instagram--container, .information, .news--container, .footer--container {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto; }

/**
 * Header scss file.
**/
.header {
  margin-bottom: 40px; }

.header--container {
  padding: 30px 0;
  background-color: #003f28;
  margin-top: -30px; }

.header--title img {
  max-width: 400px;
  width: 80%;
  display: inline-block; }
  @media (min-width: 500px) {
    .header--title img {
      width: 100%; } }

.header--title, .header--subtitle {
  text-align: center; }

.diamond {
  margin-right: 10px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #b6f241;
  position: relative;
  top: -48px; }
  .diamond:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 75px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #b6f241; }

.header--subtitle {
  width: 80%;
  margin: 0 auto;
  padding: 5px 20px;
  color: #b6f241;
  font-size: 1.7em;
  line-height: 1.4em; }
  @media (min-width: 500px) {
    .header--subtitle {
      font-size: 2.5em; } }
  @media (min-width: 700px) {
    .header--subtitle {
      width: 60%;
      min-width: 400px; } }

/**
 * Button scss file.
**/
.button {
  background-color: #003f28;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  margin-bottom: 20px;
  transition: 1s; }
  .button:hover {
    background-color: #3ec035; }
  .button span {
    color: #FFF; }
    .button span:after {
      margin-left: 10px;
      content: '';
      border: solid #FFF;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      vertical-align: 2px; }

.hero--button-donar {
  float: right; }
  @media (min-width: 800px) {
    .hero--button-donar {
      float: left; } }

.information--button-donar {
  margin-top: 10px; }

/**
 * Hero scss file.
**/
.hero {
  margin-bottom: 40px; }

.hero--container {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 800px) {
    .hero--container {
      padding: 0 20px 0 20px; } }

.hero--image {
  width: 100%;
  flex: 1 0 100%;
  height: auto; }
  .hero--image img {
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s; }
    .hero--image img.loaded {
      opacity: 1; }
  @media (min-width: 800px) {
    .hero--image {
      width: 40%;
      flex: 0 1 40%; } }

.hero--text {
  width: 100%;
  flex: 1 1 100%;
  font-size: 1.2em; }
  @media (min-width: 800px) {
    .hero--text {
      width: 55%;
      flex: 0 1 calc(60% - 20px);
      padding-left: 20px; } }

/**
 * Instagram scss file.
**/
.instagram {
  background-color: rgba(182, 242, 65, 0.5);
  margin-bottom: 50px; }

.instagram--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 800px) {
    .instagram--container {
      padding: 0 20px; } }

.instagram--help {
  margin-top: 20px; }
  @media (min-width: 800px) {
    .instagram--help {
      margin-top: 0;
      width: 30%;
      flex: 0 1 30%;
      display: flex;
      flex-direction: column;
      justify-content: center; } }

.instagram--copy {
  font-family: "Source+Sans+Pro", sans-serif;
  font-weight: 700; }

.instagram--help-container {
  background-color: #F7F7F4;
  padding: 20px; }

.instagram--galery {
  padding-bottom: 20px; }
  @media (min-width: 800px) {
    .instagram--galery {
      width: 65%;
      flex: 0 1 calc(70% - 20px);
      padding: 20px 0 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      transition: opacity .5s; }
      .instagram--galery.loaded {
        opacity: 1; } }

.instagram--feed {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF;
  justify-content: space-around;
  margin-bottom: 20px; }
  @media (min-width: 800px) {
    .instagram--feed {
      margin-bottom: 0; } }

.instagram--galery-link {
  flex: 0 1 100%;
  margin: 5px 10px; }
  @media (min-width: 800px) {
    .instagram--galery-link {
      padding: 10px 5px;
      margin: 0;
      flex: 0 1 calc(25% - 15px); }
      .instagram--galery-link:first-child {
        padding-left: 10px; }
      .instagram--galery-link:last-child {
        padding-right: 10px; } }

.instagram--see-more {
  margin-top: 10px;
  font-weight: 700; }
  .instagram--see-more:after {
    margin-left: 5px;
    content: '';
    border: solid #1D1D1D;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    vertical-align: 2px; }
  .instagram--see-more:hover {
    color: #616161; }
    .instagram--see-more:hover:after {
      border: solid #616161;
      border-width: 0 3px 3px 0; }

/**
 * Information scss file.
**/
.information {
  display: block;
  position: relative; }

.information--title {
  padding-right: 1em;
  border-bottom: 10px solid #b6f241;
  display: inline-block;
  line-height: 0.3;
  font-weight: 700; }

.information--container {
  display: flex;
  flex-direction: column; }
  @media (min-width: 800px) {
    .information--container {
      display: block; } }

.information--info-1 {
  order: 1; }
  @media (min-width: 800px) {
    .information--info-1 {
      vertical-align: top; } }

.information--info-2 {
  order: 3; }
  @media (min-width: 800px) {
    .information--info-2 {
      vertical-align: bottom;
      vertical-align: top; } }

.information--info-3 {
  order: 2; }
  @media (min-width: 800px) {
    .information--info-3 {
      width: calc(40% - 20px);
      display: inline-block;
      vertical-align: top;
      padding-left: 20px;
      margin-top: -210px; } }
  @media (min-width: 874px) {
    .information--info-3 {
      margin-top: -180px; } }
  @media (min-width: 1026px) {
    .information--info-3 {
      margin-top: -155px; } }
  @media (min-width: 1278px) {
    .information--info-3 {
      margin-top: -128px; } }

@media (min-width: 800px) {
  .information--info-1, .information--info-2 {
    display: inline-block;
    width: 60%; } }

.desktop {
  display: none; }
  @media (min-width: 800px) {
    .desktop {
      display: inline-block; } }

/**
 * News scss file.
**/
.news {
  background-color: #F9F9F9;
  padding: 20px 0; }

.news--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 35px; }
  @media (min-width: 800px) {
    .news--list {
      padding: 0 15px; } }

.news--list-item {
  list-style-type: none;
  flex: 0 1 100%; }
  .news--list-item a {
    font-family: "Martel Sans", sans-serif;
    position: relative; }
    .news--list-item a:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 15px;
      position: absolute;
      left: -25px;
      top: 5px;
      border-color: transparent transparent transparent #1D1D1D; }
  @media (min-width: 800px) {
    .news--list-item {
      flex: 0 1 30%; } }

/**
 * Footer scss file.
**/
.footer {
  padding: 40px; }
  .footer p {
    margin: 0;
    line-height: 1.5em;
    font-family: "Martel Sans", sans-serif; }

.footer--social-media {
  padding: 0;
  display: inline-block; }
  .footer--social-media li {
    display: inline-block;
    float: left;
    margin-right: 20px; }

.footer--social-media {
  margin: 25px 0 0 0; }

.footer--social-link {
  text-indent: 100%;
  overflow: hidden;
  background: url("../img/socialmedia.png") no-repeat 0 0;
  content: '';
  display: inline-block;
  position: relative; }

.facebook {
  width: 18px;
  height: 34px; }

.youtube {
  background-position: -45px 0;
  width: 50px;
  height: 34px; }

.ig {
  background-position: -120px 0;
  width: 35px;
  height: 34px; }

.snapchat {
  background-position: -182px 0;
  width: 37px;
  height: 34px; }
