/**
 * Hero scss file.
**/

.hero {
  margin-bottom: 40px;
  @media (min-width: 600px) {
  }
}

.hero--container {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 800px) {
    padding: 0 20px 0 20px;
  }
}

.hero--image {
  width: 100%;
  flex: 1 0 100%;
  height: auto;
  img {
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
    &.loaded {
      opacity: 1;
    }
  }
  @media (min-width: 800px) {
    width: 40%;
    flex: 0 1 40%;
  }
}
.hero--text {
  width: 100%;
  flex: 1 1 100%;
  font-size: 1.2em;
  @media (min-width: 800px) {
    width: 55%;
    flex: 0 1 calc(60% - 20px);
    padding-left: 20px;
  }
}
