.body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  color: $dark;
}

@-ms-viewport{
  width: device-width;
}

h1, h2, h3, h4, h5 {
  font-family: $martel;
}

p, span, figcaption {
  font-family: $source;
  font-size: 1.2em;
  line-height: 1.5em;
}

a {
  font-family: $martel;
  color: $dark;
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.hero--container, .instagram--container, .information, .news--container, .footer--container {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
}

.header--title, .header--subtitle {
  text-align: center;
}

.diamond {
  margin-right: 10px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: $yellow;
  position: relative;
  top: -48px;
  &:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 75px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: $yellow;
  }
}

.header--subtitle {
  width: 80%;
  background-color: $yellow;
  margin: 0 auto;
  padding: 5px 20px;
  @media (min-width: 600px) {
    width: 50%;
    min-width: 400px;
  }
}

.hero {
  @media (min-width: 600px) {
    background-color: $grey2;
  }
}

.button {
  background-color: $orange;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  margin-bottom: 20px;
  span {
    color: $white;
    &:after {
      margin-left: 10px;
      content: '';
      border: solid $white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      vertical-align: 2px;
    }
  }
}

.hero--button-donar {
  float: right;
  @media (min-width: 800px) {
    float: left;
  }
}

.hero--container {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 800px) {
    padding: 0 20px 0 0;
  }
}

.hero--image {
  width: 100%;
  flex: 1 0 100%;
  height: auto;
  @media (min-width: 800px) {
    width: 40%;
    flex: 0 1 40%;
  }
}
.hero--text {
  width: 100%;
  flex: 1 1 100%;
  @media (min-width: 800px) {
    width: 55%;
    flex: 0 1 calc(60% - 20px);
    padding-left: 20px;
  }
}

.instagram {
  background-color: rgba($yellow, 30%);
  margin-bottom: 50px;
}

.instagram--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (min-width: 800px) {
    padding: 0 20px;
  }
}

.instagram--help {
  margin-top: 20px;
  @media (min-width: 800px) {
    margin-top: 0;
    width: 30%;
    flex: 0 1 30%;
  }
}

.instagram--help-container {
  background-color: $grey2;
  padding: 20px;
  @media (min-width: 800px) {
    top: 50%;
    transform: translateY(calc(50% - 40px));
  }
}

.instagram--galery {
  @media (min-width: 800px) {
    width: 65%;
    flex: 0 1 65%;
  }
}

.information {
  display: block;
  position: relative;
}

.information--title {
  padding-right: 1em;
  border-bottom: 10px solid $yellow;
  display: inline-block;
  line-height: 0.3;
  font-weight: 700;
}

.information--container {
  display: flex;
  flex-direction: column;
  @media (min-width: 800px) {
    display: block;
  }
}

.information--info-1 {
  order: 1;
  @media (min-width: 800px) {
    vertical-align: top;
  }
}
.information--info-2 {
  order: 3;
  @media (min-width: 800px) {
    vertical-align: bottom;
    vertical-align: top;
  }
}
.information--info-3 {
  order: 2;
  @media (min-width: 800px) {
    width: calc(40% - 20px);
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    margin-top: -210px;
  }
  @media (min-width: 874px) {
    margin-top: -180px;
  }
  @media (min-width: 1026px) {
    margin-top: -155px;
  }
  @media (min-width: 1278px) {
    margin-top: -128px;
  }
}

.information--info-1, .information--info-2 {
  @media (min-width: 800px) {
    display: inline-block;
    width: 60%;
  }
}

.desktop {
  display: none;
  @media (min-width: 800px) {
    display: inline-block;
  }
}

figcaption {
  margin: 5px 0;
}

.information--button-donar {
  margin-top: 30px;
}

.news {
  background-color: $grey1;
  padding: 20px 0;
}

.news--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 35px;
  @media (min-width: 800px) {
    padding: 0 15px;
  }
}

.news--list-item {
  list-style-type: none;
  flex: 0 1 100%;
  a {
    font-family: $martel;
    position: relative;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 15px;
      position: absolute;
      left: -25px;
      top: 5px;
      border-color: transparent transparent transparent $dark;
    }
  }
  @media (min-width: 800px) {
    flex: 0 1 30%;
  }
}

.footer {
  padding: 45px;
  p {
    margin: 0;
    line-height: 1.2;
    font-family: $martel;
  }
}

.footer--social-media {
  padding: 0;
  display: inline-block;
  li {
    display: inline-block;
    float: left;
    margin-right: 10px;
  }
}

.footer--social-media {
  margin: 25px 0 0 0;
}

.footer--social-link {
  text-indent: 100%;
  overflow: hidden;
  background: url('../img/socialmedia.png') no-repeat 0 0;
  content: '';
  display: inline-block;
  position: relative;
}

.facebook {
  width: 18px;
  height: 34px;
}
.youtube {
  background-position: -45px 0;
  width: 50px;
  height: 34px;
}
.ig {
  background-position: -120px 0;
  width: 35px;
  height: 34px;
}
.snapchat {
  background-position: -182px 0;
  width: 37px;
  height: 34px;
}


.texto-oculto {
  display: none;
}
.abierto {
  display: block;
}
