/**
 * Global Variables
**/

// Fonts.
$martel: 'Martel Sans', sans-serif;
$source: 'Source+Sans+Pro', sans-serif;

// Primary colours.

$green: #44891A;
$brown: #A46422;
$orange: #EB8931;
$yellow: #F7E26B;
$grey: #F2F2F2;

// Secondary colours.
$grey1: #F9F9F9;
$grey2: #F7F7F4;
$white: #FFF;
$dark: #1D1D1D;
